<h1>New Topic</h1>

<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, 'error') %> prohibited this topic $

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      </h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <p id='notice'><%= notice %></p>
  </div>
  <div class="actions">
    <%= f.submit 'Create topic' %>
    
<%= link_to 'Back', topics_path %>
  </div>
<% end %>